# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Logs
*.log
